<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss(null)">
        {{"PRIVACY.back" | translate}}
      </ion-button>
    </ion-buttons>
    <ion-title>{{"PRIVACY.policy" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-events="true" (ionScroll)="CheckScroll($event)">
  <!-- <div *ngIf="loading">
    <div class="custom-loading-spinner">
      <ion-spinner></ion-spinner><span>{{"PRIVACY.load" | translate}}</span>
    </div>
  </div> -->

  <div class="gepadded">  

    <div [innerHTML]="dataSecurityText"></div>
  </div>
  <ion-fab *ngIf="scrollDepthTriggered" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="dismiss(true)">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="scrollDepthTriggered" vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="dismiss(false)">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
