<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button (click)="dismiss(null)">
        {{"PRIVACY.back" | translate}}
      </button>
    </ion-buttons>
    <ion-title>{{"PRIVACY.policy" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="loading">
    <div class="custom-loading-spinner">
      <ion-spinner></ion-spinner><span>{{"PRIVACY.load" | translate}}</span>
    </div>
  </div>

  <div *ngIf="!loading">
    <ion-fab bottom right>
      <button ion-fab (click)="dismiss(true)">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab bottom left>
      <button ion-fab (click)="dismiss(false)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-fab>

    <div class="scroll-content" [innerHTML]="dataSecurityText"></div>
  </div>
</ion-content>
