<ion-header>
  <ion-toolbar>
    <ion-title>Fahrtenübersicht</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          Vergangene Fahrten
          <ion-item *ngFor="let timestamp of timeStamps; let i = index" (click)="openMapModal(i)" >                   
            Fahrt beendet um {{timestamp}}
          </ion-item>
        </ion-list> 
      </ion-col>     
    </ion-row>
    <ion-row>
      <ion-col>
       Gesamtübersicht: <br>
       Gesamtumsatz<br>
        Wie viele Fahrten<br>
        Wie viele Kunden(Waypoints)<br>
        (Vl gefahrene strecke)
      </ion-col>
    </ion-row>
  </ion-grid>
 

  
</ion-content>
